@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;

  --primary: #FF7A00;
  --primary-hover: #FF8F33;

  --bg-soft: #F7F7F7;
  --text-secondary: #4D4D4D;

  --border: #E6E6E6;
  --accent-soft: #FFE7CC;

  --radius: 16px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-bg-soft: var(--bg-soft);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
  --color-accent-soft: var(--accent-soft);

  --radius: var(--radius);
  --shadow: var(--shadow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scroll-bar::-webkit-scrollbar {
  width: 0;
}